.custom-range {
	width: 300px;
}

.custom-range__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

:root {
	--bg-primary: hsl(0deg 0% 100%);
	--bg-secondary-light: hsl(0deg 0% 93%);
	--bg-secondary-dark: hsl(0deg 0% 87%);
	--bg-secondary-darker: hsl(0deg 0% 84%);
	--text-primary: hsl(201deg 15% 18%);
	--text-secondary: hsl(0deg 0% 0%);
	--text-transparent: hsl(0deg 0% 0% / 0.3);
}

.range-set {
	/*  Площадка под инпуты */
	--input-width: 100%;
	--input-height: 80px;
	/*  Размер ползунков */
	--thumb-diameter: 20px;
	--thumb-radius: calc(var(--thumb-diameter) / 2);
	/*  Длина полного диапазона */
	--diff: calc(var(--max) - var(--min));
	/* 	Характеристики трека */
	--track-weight: 2px;
	--track-length: calc(100% + 0px);
	--track-color: hsl(203deg 11% 86%);
		// --track-color: tomato;
	/* 	Цвет и расположение выбранного диапазона на треке */
	// --bar-color: hsl(154deg 100% 40%);
	--bar-color: #da2c4d;
	--relative-a: calc((var(--a) - var(--min)) / var(--diff));
	--relative-b: calc((var(--b) - var(--min)) / var(--diff));
	--bar-length-max: calc(var(--track-length) - var(--thumb-diameter));
	--bar-a: calc(var(--relative-a) * var(--bar-length-max) + var(--thumb-radius));
	--bar-b: calc(var(--relative-b) * var(--bar-length-max) + var(--thumb-radius));
	--bar-start: min(var(--bar-a), var(--bar-b));
	--bar-end: max(var(--bar-a), var(--bar-b));
	/*  Длина выбранного диапазона */
	--b-a: calc(var(--b) - var(--a));
	/*  Защита от значений меньше 1 и больше 0 */
	--hyper-b-a: calc(var(--b-a) * 999999);
	/*  Второе значение всё ещё больше первого? 1 — да. 0 — нет. */
	--is-b-greater-then-a: clamp(0, var(--hyper-b-a), 1);
	/* 	Расположение выводов значений: 2 и 5, если a меньше b, и наоборот, если больше */
	--placement-output-a: calc(5 - 3 * var(--is-b-greater-then-a));
	--placement-output-b: calc(2 + 3 * var(--is-b-greater-then-a));

	display: grid;
	grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
	grid-template-rows: max-content max-content;
	/* Можно просто переставить строки в темплейте,
	чтобы диапазон был после лэйблов и аутпутов */
	grid-template-areas:
		"input   input    input   input    input"
		"labal-a output-a   .   label-b output-b"
	;
	row-gap: 5px;
	column-gap: 12px;
	position: relative;
	width: 100%;
	width: var(--input-width);
	border: 0;
	font-size: 16px;
	line-height: 22px;
}

.range-set::before {
	content: "";
	grid-area: input;
	background: var(--bg-secondary-light);
	border-radius: 3px;
}

.range-input {
	appearance: none;
	grid-area: input;
	z-index: 1;
	margin: 0;
	padding: calc((var(--input-height) - var(--thumb-diameter)) / 2) 20px;
	background: none;
	border-radius: 3px;
	pointer-events: none;
	color: inherit;
	height: var(--thumb-diameter);

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.range-input:focus {
	z-index: 2;
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

.range-input:focus:not(:focus-visible) {
	outline: none;
}

.range-input.range-input:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

.range-input::-webkit-slider-runnable-track {
	appearance: none;
	height: var(--track-d);
}

.range-input::-webkit-slider-container {
	appearance: none;
	align-self: center;
	height: var(--track-weight);
	background-image:
		linear-gradient(90deg,
			var(--track-color) calc(var(--bar-start) - var(--thumb-radius)),
			transparent calc(var(--bar-start) - var(--thumb-radius)),
			transparent calc(var(--bar-start) + var(--thumb-radius)),
			var(--bar-color) calc(var(--bar-start) + var(--thumb-radius)),
			var(--bar-color) calc(var(--bar-end) - var(--thumb-radius)),
			transparent calc(var(--bar-end) - var(--thumb-radius)),
			transparent calc(var(--bar-end) + var(--thumb-radius)),
			var(--track-color) calc(var(--bar-end) + var(--thumb-radius)));
}

.range-input::-moz-range-track {
	appearance: none;
	height: var(--track-weight);
	background-image:
		linear-gradient(90deg,
			var(--track-color) calc(var(--bar-start) - var(--thumb-radius)),
			transparent calc(var(--bar-start) - var(--thumb-radius)),
			transparent calc(var(--bar-start) + var(--thumb-radius)),
			var(--bar-color) calc(var(--bar-start) + var(--thumb-radius)),
			var(--bar-color) calc(var(--bar-end) - var(--thumb-radius)),
			transparent calc(var(--bar-end) - var(--thumb-radius)),
			transparent calc(var(--bar-end) + var(--thumb-radius)),
			var(--track-color) calc(var(--bar-end) + var(--thumb-radius)));
}

.range-input::-webkit-slider-thumb {
	appearance: none;
	box-sizing: border-box;
	width: var(--thumb-diameter);
	height: var(--thumb-diameter);
	border: 8px solid hsl(0 0% 100% / 1);
	background: none;
	background-color: hsl(0deg 0% 67% / 1);
	border-radius: var(--thumb-radius);
	box-shadow: 0px 2px 1px var(--shadow-spread, 0px) hsl(0 0% 0% / 0.15);
	pointer-events: auto;
	cursor: grab;
}

.range-input::-moz-range-thumb {
	appearance: none;
	box-sizing: border-box;
	width: var(--thumb-diameter);
	height: var(--thumb-diameter);
	border: 8px solid hsl(0 0% 100% / 1);
	background: none;
	background-color: hsl(0deg 0% 67% / 1);
	border-radius: var(--thumb-radius);
	box-shadow: 0px 2px 1px var(--shadow-spread, 0px) hsl(0 0% 0% / 0.15);
	pointer-events: auto;
	cursor: grab;
}

.range-input::-moz-range-thumb:active {
	cursor: grabbing;
}

.range-input::-webkit-slider-thumb:active {
	cursor: grabbing;
}

.range-input:focus::-webkit-slider-thumb {
	--shadow-spread: 1px;
}

.range-input:focus::-moz-range-thumb {
	--shadow-spread: 1px;
}

.label {
	padding: 8px 0;
}

.label-a {
	grid-area: labal-a;
}

.label-b {
	grid-area: label-b;
}

.output {
	width: 80px;
	display: inline-block;
	padding: 8px 0;
	vertical-align: baseline;
	text-align: center;
	border-radius: 3px;
	background-color: var(--bg-secondary-light);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.output-a {
	grid-area: output-a;
	grid-column: var(--placement-output-a);
}

.output-b {
	grid-area: output-b;
	grid-column: var(--placement-output-b);
}
